.section-title {
  font-family: Rowdies, sans-serif;
  color: var(--color-primary-dark);
  font-size: 56px;
  font-weight: 400;
  line-height: 1.25;

  &--centered {
    text-align: center;
  }

  &--contacts {
    margin-bottom: 16px;
  }
}
