:root {
  --color-primary-light: #ffffff;
  --color-primary-dark: #181817;
  --color-primary-orange: #ff9f0e;
  --color-secondary-orange: #fcb62a;
  --color-secondary-beige: #fffaf3;
  --color-light-violet: #f1f3ff;
  --color-dark-violet: #d9a6ff;
  --color-dark-grey: #839aa9;
  --color-light-grey: #f9f9ff;
  --color-pink: #ff6e9f;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
