.button {
  display: block;
  padding: 16px 32px;
  border: 2px solid var(--color-primary-orange);
  border-radius: 8px;
  background-color: var(--color-primary-orange);
  cursor: pointer;
  color: var(--color-primary-light);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16;
  transition-duration: 0.2s;
}

.button:hover {
  background-color: var(--color-secondary-orange);
  border-color: var(--color-secondary-orange);
}
