.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  &__button {
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--color-dark-grey);

    &--active {
      background-color: var(--color-primary-orange);
    }
  }
}
