.contacts-section {
  margin-bottom: 72px;
  position: relative;

  &__left-dog {
    position: absolute;
    left: 0;
    top: 52px;
  }

  &__right-dog {
    position: absolute;
    right: 0;
    top: -137px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__text {
    color: var(--color-dark-grey);
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 42px;
  }

  &__form {
    margin: 0 auto;
  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    margin: 0 auto;
  }
}
