.customers-section {
  margin-bottom: 168px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__title {
    font-family: Rowdies, sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 125%; /* 70/56 */
    margin-bottom: 48px;
    text-align: center;
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }
  }
}
