.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(24, 24, 23, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  transition: opacity 0.2s, visibility 0.2s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background: var(--color-secondary-beige);
  border-radius: 32px;
  overflow-y: auto;

  &__close-button {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: transparent;
    fill: rgba(0, 0, 0, 0);
    stroke: rgb(49, 38, 26);
    border: none;
    cursor: pointer;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 142px 140px;
  }

  &__text {
    color: var(--color-dark-grey);
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 42px;
  }

  &__form {
    margin: 0 auto;
  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    margin: 0 auto;
  }
}
